.contest {
    --first-color: hsl(195, 32%, 90%);
    --second-color: hsl(143, 20%, 75%);
    --third-color: hsl(6, 71%, 77%);
    --fourth-color: hsl(0, 54%, 54%);

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 2px 2px 30px var(--fourth-color);
    max-width: max-content;
}

.contest:hover {
    outline: .5rem solid var(--fourth-color);
}

a {
    text-decoration: none;
    color: var(--first-color);
}

p {
    color: var(--first-color);
}

.loading {
	margin-top: 3rem;
	border: 1rem solid var(--third-color);
	border-top: var(--first-color);
	width: 7.5rem;
	height: 7.5rem;
	border-radius: 50%;
	font-size: 2rem;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
