:root {
	--primary-color: #513252;
	--secondary-color: #7A4069;
	--background-color: #FFC18E;
	--accent-color: #CA4E79;
}

.navigation {
	color: var(--accent-color);
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	gap: 3rem;
	margin: 0;
	padding: 0;
}

@media(max-width: 48em) {
	.navigation {
		gap: 1rem;
		font-size: 1rem;
		flex-direction: column;
		justify-content: center;
	}
}

.link {
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	text-decoration: none;
	color: var(--secondary-color);
}
